<div class="modal-header">
  <h4 class="modal-title" translate>Password </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form (submit)="submit(frm)" #frm="ngForm" *ngIf="product">
    <div class="row">
      <div class="col-sm-12" *ngIf="via === 'Email'">
        <div class="input-group mb-3" *ngIf="!currentUser && otp">
          <div class="input-group ">
            <input class="form-control form-control-lg w-75" placeholder="{{'OTP' | translate}}" required
              type="text" autocomplete="off" name="password" [minlength]="6" [maxlength]="6"
              #password="ngModel" (keypress)="onlyNumberKey($event)" [(ngModel)]="credentials.password" />
            
          </div>
          <div *ngIf="password.errors && (password.dirty || password.touched || submitted)">
            <p [hidden]="!password.errors.minlength" class="error" translate>
              OTP must be at least 6 characters!
            </p>
            <p [hidden]="!password.errors.required" class="error" translate>
              OTP is required
            </p>
          </div>
        </div>
      </div>
     
    </div>
  </form>
</div>